body {
	font-family: "Arial";
	background-color: #CCC;
}

#container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

.btn {
	display: inline-block;
    border-radius: 30px;
    padding: 20px 40px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.btn-attention {
	background: #DF1763;	
}

#plans .btn {
	border: 2px solid white;
}

header .login {
	color: #DF1763;
	border: 2px solid #DF1763;
}